/* NAVIGATION BAR */
.navbar {
    display: block;
    float: left;
    position: fixed;

    text-align: center;
    overflow-y: auto;
    
    height: 100%;       
    width: 275px;
    background-color: white;
}

.box-shadow {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.39);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.39);
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* Logo */
.navbar .logo-container {
    border-collapse: collapse;
}

.navbar .logo-container img {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
    margin-top: 40px;
}

.navbar .logo-container img:hover {
    opacity: .5;
}

/* Menu items */
.navbar .menu-container {
    display: table-row;
    height: 75%;
    width: 100%;
    position: relative;
}

.navbar .menu-items ul {
    list-style: none;
    margin: auto;
    padding: 0px;
}

.navbar .menu-items ul li {
    width: 100%;
    padding: 8px;
}

.navbar .menu-items ul li a {
    display: block;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 12px;

    text-decoration: none;
    text-align: center;
    color: black;
    width: 100%;
}

.navbar .menu-items ul li a:hover {
    color: #777;
}

.navbar .menu-items ul li a:active {
    color: #777;
}

/* Social links */
.navbar .social-container {
    height: 10%;
    width: 100%;
    position: relative;
}

.navbar .social {
    display: table-row;
    text-align: center;
    vertical-align: bottom;
    margin-top: 50px;
    margin-bottom: 40px;
    
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar .social a {
    text-decoration: none;
    width: 0px;
}

.navbar .social img {
    width: 15px;
    height: 15px;

    margin-left: 10px;
    margin-right: 10px;
}

/* --- The Overlay (background) --- */
#my-nav {
    left: -100%;
}

.overlay {
    background: var(--background-primary-color-RGBA);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0px;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

/* Title of overlay */
.overlay-content h4 {
    padding: 8px;
    text-decoration: none;
    color: var(--text-primary-color);
    display: block;
    margin: 0;
    cursor: default;
    font-weight: 800;
    letter-spacing: 7px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    color: var(--text-primary-color);
    display: block;
}


/* Position the close button (top right corner) */
.overlay .close-btn {
    position: absolute;
    transition: .4s;
}

.overlay .close-btn:hover {
    color: red;
    text-shadow: 0px 0px 20px red;
    transition: .4s;
}

/* --- Menu Button --- */
.menubutton {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.5s;
    align-items: center;
    justify-content: center;
    text-align: initial;
    z-index: 4;
    transition: .4s;
}

.transparent-menubutton {
    transition: 0.7s;
    opacity: 0;
}

.no-transparent-menubutton {
    transition: 0.7s;
    opacity: 100%;
}

.banner-wrapper {
    place-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.banner-button {
    text-decoration: none;
    color: var(--text-primary-color) !important;
}

.banner-wrapper .banner-button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background-size: contain;
    background-image: url(../images/logo.png);border-radius: 50px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-out;
}

/* --- Fade In/Out classes --- */

.reveal {
    filter: blur(5px);
    transform: translateY(10%);
    opacity: 0;
    transition: all 1.5s;
}

.reveal.active {
    filter: blur(0);
    transform: translateY(0%);
    opacity: 1;
}

.hide-menu-elements-fade {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s !important;
}

.show-elements-fade {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transform: translateX(0);
}

.button-fade-2 {
    transition-delay: 200ms !important;
}

.button-fade-3 {
    transition-delay: 400ms !important;
}

.menu-button-fade-2 {
    transition-delay: 200ms !important;
}

.menu-button-fade-3 {
    transition-delay: 400ms !important;
}

.menu-button-fade-4 {
    transition-delay: 600ms !important;
}

.menu-button-fade-5 {
    transition-delay: 800ms !important;
}

/* --- Media Queries ---- */

@media (prefers-reduced-motion) {
    .hide-elements-fade {
        transition: none;
    }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
    .navbar {
        display: none;
    }
    .overlay h4 {
        font-size: 25px;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar {
        display: none;
    }
    .overlay h4 {
        font-size: 30px;
    }

    .overlay a {
        font-size: 25px
    }

    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .overlay h4 {
        font-size: 35px;
    }

    .overlay a {
        font-size: 30px
    }

    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .overlay h4 {
        font-size: 40px;
    }

    .overlay a {
        font-size: 36px
    }

    .overlay .close-btn {
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .navbar {
        display: block;
    }
    .menubutton {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
